html{
 
    font-size: 62.5%;
}



body{
    padding: 0%;
    margin: 0%;
    text-shadow: 1rem .1rem 2rem  black;
    font-family:   cursive;
    
}
 #container{
    background-image: linear-gradient(#e29518, #bfd747, #afdebb);
    background-size:contain ;
      background-repeat: no-repeat;
height: 100vh;
}
#nav{
    overflow: auto;

    background-color: #e5ab01;
 
    
}
span{

    font-size: 4rem;
    float: left;
    cursor: pointer;
    animation-name: anima;
 animation-duration:5s;
 animation-iteration-count: infinite;
 color:#623a6c;
 margin-left: 4rem;
 font-weight:800;
 font-style: italic;
 
}
  a{
      transition-property:all;
      transition-duration: 1s;
  }
  a:hover{
     text-decoration: underline;
 font-size: 2.4rem;

 }
#shadow{
    box-shadow: 0.1rem 3rem 5rem 2rem  black;
}
 
@keyframes anima {
    50%{
        color:#e5ab01 ;
    }
     

}

#logoimg{
height: 9rem;
 position: relative;
 left: 4rem;
 top: 4rem;
 cursor: pointer;
  
}
#navicon ,li ,a{
list-style-type:none;
display: inline-block;
text-decoration: none;
 margin-left: 2rem;
 color:#623a6c;
 animation-name: anima;
 animation-duration:5s;
 animation-iteration-count: infinite;
}
#navicon{
 
font-size: 2.2rem;
font-weight: 900;
margin-right: 30rem;
float: right;
position: absolute;
right:1rem;

}
#audiodiv{
    font-size:4rem;
    position: absolute;
    top:12rem;
    left: 15rem;
    line-height: 11rem;
color: #623a6c;
overflow: auto;
animation-name: anima;
animation-duration:5s;
animation-iteration-count: infinite;
transition-property: all;
transition-duration: 1s;
}
.audioicon{
 
    height: 6rem;
    cursor: pointer;

}
#audiodiv:hover{

    font-size:4.5rem;
   
}

 
#range{
    width:25rem;
    position: relative;
    bottom: 5rem;
    right: 2rem;
    background: #623a6c;
    cursor: pointer;
}
 #musicdiv{
      
     float:left;
     margin-left:80rem;
     
 }
 #musicicon{
     height: 30rem;
      transition-property: all;
      transition-duration: 1s;
      
 }
 #musicicon:hover{
    height: 31rem;
 }

 @media screen and ( max-width:1390px) {
    #musicicon{
        
        height:25rem;
    }
}
@media screen and ( max-width:924px) {
    html{
 
        font-size: 56.25%;
    }
    #musicicon{
        
        height:22rem;
    }
}
@media screen and ( max-width:800px) {
    html{
 
        font-size: 50%;
    }
    #musicicon{
        position: absolute;
        top:44rem;
        left:50rem;
         
    }
}
@media screen and ( max-width:586px) {
     
    #musicicon{
        position: absolute;
        top:44rem;
        left:45rem;
         
    }
}

@media screen and ( max-width:781px) {
    
    #nav{
        display: none;
        position: relative;
    }
}
@media screen and ( max-width:564px) {
    html{
 
        font-size: 43.75%;
    }
}
@media screen and ( max-width:482px) {
    html{
 
        font-size:37.5%;
    }
    #audiodiv{
        margin-top: 20rem;
    }
    #musicicon{
         
        top:20rem;
        left:45rem;
         
    }
}
 
@media screen and ( max-width:403px) {
    html{
 
        font-size:31.2%;
    }
    #audiodiv{
        margin-top:25rem;
    }
}
@media screen and ( max-width:346px) {
    html{
 
        font-size:25%;

    }
    #audiodiv{
        margin-top:30rem;
    }
}
